# If you define these paths, `python start.py` will automatically use them 
# and completely bypass the manual console prompts.

ACOUSTID_API_KEY=""
ACRCLOUD_ACCESS_KEY=""
ACRCLOUD_ACCESS_SECRET=""
INPUT_FOLDER="C:\absolute\path\to\your\messy_music_folder"
OUTPUT_FOLDER="C:\absolute\path\to\save\organized_music"
