# If you define these paths, `python start.py` will automatically use them 
# and completely bypass the manual console prompts.

INPUT_FOLDER="C:\absolute\path\to\your\messy_music_folder"
OUTPUT_FOLDER="C:\absolute\path\to\save\organized_music"
